/*
	Elcapor, a simple, lightweight and responsive anchor theme, designed by Craig Childs.
	http://craigchilds.me 
	
	This theme is easily extendable and can be easily be altered on a per-post/per-page basis, the colours are simple which allows for easy customisation.
	Enjoy this theme, it is 2nd released theme, there will be more to come. 

*/

/* Reset browser defualts and smooth fonts */
*{
	margin:0;
	padding:0;
	-webkit-font-smoothing: antialiased;
}

/* Body stuff */
body{
	background: #efefef;
	font:  1em  'Helvetica Neue', 'Verdana', Calibri, Arial,  sans-serif;
}

/* Header & nav Styling */
header#top{
	background: #568b8d; /* Old browsers */
	background: -moz-linear-gradient(top,  #568b8d 0%, #4d7d7f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#568b8d), color-stop(100%,#4d7d7f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #568b8d 0%,#4d7d7f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #568b8d 0%,#4d7d7f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #568b8d 0%,#4d7d7f 100%); /* IE10+ */
	background: linear-gradient(top,  #568b8d 0%,#4d7d7f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#568b8d', endColorstr='#4d7d7f',GradientType=0 ); /* IE6-9 */

	height:200px;
	border-bottom: 1px solid #fff;
	box-shadow: inset 0 -5px 15px rgba(5,5,5,0.08);
	overflow: hidden;
}

header #nav_wrap{
	margin:0 auto;
	width: 960px;
	height: 200px;
	padding: 15px;
}
header #nav_wrap p{
	font: lighter 1.6em 'Century Gothic', 'Helvetica Neue', Arial,  sans-serif;
	color:#eee;
	float: left;
	margin-top: 76px;
}

header #nav_wrap nav{
	float: right;
	margin-top: 80px;
}

header #nav_wrap nav ul li{
	list-style: none;
	float: left;
	padding-left: 20px;
}

header #nav_wrap nav ul li a{
	text-decoration:none;
	font: lighter 1.375em 'Century Gothic', 'Helvetica Neue', Arial,  sans-serif;
	color:#eee;
}

header #nav_wrap nav ul li a:hover{
	color:#fff;
	border-bottom: 1px solid #fff;
}

/* List of posts*/

.page_wrap{
	max-width: 960px;
	padding: 10px;
	margin:0 auto;
}

ul.posts_wrap {
	float: left;
	max-width: 60%;
	text-align: left;
}

ul.posts_wrap li {
	list-style: none;
	margin-top: 30px;
}

ul.posts_wrap li a{
	text-decoration: none;
	margin-top: 15px;
	color:#666;
}

ul.posts_wrap li a:hover{
	color:#444;
}

ul.posts_wrap li a time{
	color:#888;
	font-size: 0.8em;
}


ul.posts_wrap li a p#desc{
	font-size: 0.9em;
}

ul.posts_wrap li a h2{
	font: lighter 1.8em 'Century Gothic', 'Helvetica Neue', Arial,  sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Search bar styling */

.search_wrap, .search_wrap_large{
	width: 30%;
	float: right;
	padding: 10px;
	margin-top: 40px;
	background: #333;
}

.search_wrap form#search input, .search_wrap_large form#search input{
	height: 40px;
	width: 100%;
	padding: 8px 12px;
	color: #333;
	border: none;
	font: lighter 1em 'Century Gothic', 'Helvetica Neue', Arial,  sans-serif;
}

.search_wrap_large{
	width: 100%;
	float: none;
}



/* Twitter feed / topics styling */

.feed_wrap{
	max-width: 30%;
	float: right;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 40px;
	background: #333;
	padding-bottom: 10px;	
}

.feed_wrap p{
	color:#ddd;
	margin-top: 20px;
	margin-bottom: 5px;
	font-size:  0.8em;
	text-align: justified;
}

.feed_wrap em{
	color:#aaa;
	font-size: 0.78em;
	margin-left: 5px;
}

.feed_wrap h3{
	color:#eee;
	font: lighter 1.5em 'Century Gothic', 'Helvetica Neue', Arial,  sans-serif;
}

.feed_wrap p.topic{
	font-size: 0.7em;
	color:#aaa;
}

.feed_wrap a, .feed_wrap p.topic a{
	color: #eee;
	text-decoration: none;
	font-size: 1.1em;
}

/* Footer */

.footer_wrap{
	margin: 0 auto;
	max-width: 100%;
	padding: 15px;
}

footer#bottom {
	margin-top: 70px;
	position: inherit;
	width: 100%;
	height: 200px;	
	float: left;
	color: #aaa;
	border-top: 1px solid #ddd;
	padding-top: 15px;
	
}

footer#bottom ul{
	list-style: none;
	float: right;
}

footer#bottom ul li{
	float: right;
	margin-left: 15px;
	font-size: 0.8em;
	
}

footer#bottom ul li:last-child{
	margin-left: 0px;
}

footer#bottom ul li a{
	text-decoration: none;
	color:#777;
}

footer#bottom ul li a:hover{
	text-decoration: underline;
}

footer#bottom small{
	float: left;
	font-size: 0.8em;
	font-weight: lighter;
	color: #aaa;
}

footer#bottom a#attribution{
	float: right;
	font-size: 0.8em;
	font-weight: lighter;
	color: #aaa;
}

footer#bottom a#attribution:hover{
	color: #777;
}

/* Section styling */
section.content{
	padding: 10px;
}

section.content a{
	color: #555;
	font: lighter 1em;
	text-decoration: underline;
}

section.content .search_wrap{
	margin-top: 0px;
}

section.content p{
	color: #666;
	font: lighter 1em;
	line-height: 1.3em;
	margin-bottom: 15px;
}

section.content h1{
	color: #444;
	font: lighter 2.2em 'Century Gothic', 'Helvetica Neue', Arial,  sans-serif;
	margin-bottom: 10px;
}

section.content ul{
	list-style: none;
}

section.content ul li{
	margin-bottom: 15px;
	list-style: none;
}

section.content ul li a{
	text-decoration: none;
	margin-top: 15px;
	color:#666;
}

section.content ul li time{
	color:#888;
	font-size: 0.8em;
}

section.footnote{
	font-size:  0.8em;
	color:#666;
	padding: 10px;
}

section.comments h1{
	color: #444;
	font: lighter 1.2em 'Century Gothic', 'Helvetica Neue', Arial,  sans-serif;
	margin-bottom: 20px;
}

section.comments a{
	color: #444;
	font: lighter 1em 'Century Gothic', 'Helvetica Neue', Arial,  sans-serif;
}

section.comments p{
	color: #444;
	font: lighter 1em 'Century Gothic', 'Helvetica Neue', Arial,  sans-serif;
	margin-bottom: 15px;
}

section.comments p em{
	font-size: 0.8em;
	color: #666;
	margin-left: 15px;
}

section.comments input{
	height: 20px;
	width: 50%;
	padding: 8px 12px;
	color: #333;
	border: none;
	font: lighter 0.8em 'Century Gothic', 'Helvetica Neue', Arial,  sans-serif;
	border: 1px solid #ddd;
}

section.comments textarea{
	height: 100px;
	width: 50%;
	padding: 8px 12px;
	color: #333;
	border: none;
	font: lighter 0.8em 'Century Gothic', 'Helvetica Neue', Arial,  sans-serif;
	resize:vertical;
	border: 1px solid #ddd;
}

section.comments legend{
	color: #222;
	font: lighter 1em 'Century Gothic', 'Helvetica Neue', Arial,  sans-serif;
	margin-bottom: 10px;
}

section.comments button{
	height: 40px;
	width: 120px;
	border: 1px solid #ccc;
	background: #ddd;
	font: lighter 0.8em 'Century Gothic', 'Helvetica Neue', Arial,  sans-serif;
}

section.comments button:hover{
	cursor: pointer;
	background: #eaeaea;
}

section.comments button:active{
	background: #dadada;
}

section.comments a{
	color: #555;
	font: lighter 1em;
	text-decoration: underline;
}

section.comments .content{
	color: #444;
	font-size: 0.9em;
	font-weight: lighter;
	line-height: 1.3em;
	margin-top: 10px;
}

section.comments h2{
	color: #444;
	font: lighter 1.2em 'Century Gothic', 'Helvetica Neue', Arial,  sans-serif;
	margin-bottom: 10px;
}

section.comments ul{
	list-style: none;
	margin-bottom: 15px;	
}

section.comments ul li{
	margin-bottom: 15px;
	list-style: none;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	background: #eaeaea;
	padding: 10px;

}

section.comments ul li a{
	text-decoration: none;
	margin-top: 15px;
	color:#666;
}

section.comments ul li time{
	color:#888;
	font-size: 0.8em;
}

/* Our @media queries to make it nice and responsive at all resolutions. */

@media screen and (max-width: 1024px){
	header #nav_wrap{
		margin:0 auto;
		max-width: 90%;
		height: 200px;
	}
	header#top{
		max-width: 1024px;
	}
	.page_wrap{
		max-width: 924px;
	}
	.footer_wrap{
		max-width: 924px;
	}
}


@media screen and (max-width: 768px){
	header #nav_wrap{
		margin:0 auto;
		max-width: 90%;
		height: 200px;
	}
	header#top{
		max-width: 768px;
	}
	.page_wrap{
		max-width: 668px;
	}
	.feed_wrap{
		float: left;
	}	
	.search_wrap{
		float: left;
	}
	.footer_wrap{
		max-width: 668px;
	}
	
}

@media screen and (max-width: 600px){
	header #nav_wrap{
		margin:0 auto;
		max-width: 90%;
		height: 200px;
	}
	header #nav_wrap nav{
		text-align: left;
		display:block;
	}
	header#top{
		max-width: 600px;
	}
	.page_wrap{
		max-width: 500px;
	}
	.feed_wrap{
		float: left;
		max-width: 100%;
	}
	ul.posts_wrap {
		max-width: 100%;
	}
	
	.search_wrap_large{
		width: 95%;
	}
	
	.search_wrap{
		width: 95%;
		max-width: 100%;
	}
	.footer_wrap{
		max-width: 500px;
	}
	
	section.comments input{
		width: 95%;
	}
	
	section.comments textarea{
		width: 95%;
	}
}

@media screen and (max-width: 480px){
	header #nav_wrap{
		margin:0 auto;
		max-width: 90%;
		height: 200px;
	}
	header #nav_wrap nav{
		text-align: left;
		display:block;
	}
	header#top{
		max-width: 480px;
	}	
	header #nav_wrap nav ul li a{
		font-size: 1.175em ;
	}
	.page_wrap{
		max-width: 380px;
	}
	
	.search_wrap_large{
		width: 95%;
	}
	
	.feed_wrap{
		float: left;
		max-width: 100%;
	}
	ul.posts_wrap {
		max-width: 100%;
	}
	.search_wrap{
		width: 95%;
		max-width: 100%;
	}
	.footer_wrap{
		max-width: 380px;
	}
	footer#bottom ul{
		float:left;
	}
	footer#bottom a#attribution{
		float:left;
	}
	
	section.comments input{
		width: 95%;
	}
	
	section.comments textarea{
		width: 95%;
	}

}

@media screen and (max-width: 320px){
	header #nav_wrap{
		margin:0 auto;
		max-width: 90%;
		height: 200px;
	}
	header #nav_wrap nav{
		text-align: left;
		display:block;
	}
	header#top{
		max-width: 320px;
	}
	.page_wrap{
		max-width: 220px;
	}
	.feed_wrap{
		float: left;
		max-width: 100%;
	}
	ul.posts_wrap {
		max-width: 100%;
	}
	.search_wrap{
		width: 95%;
		max-width: 100%;
	}
	.search_wrap_large{
		width: 95%;
	}
	.footer_wrap{
		max-width: 220px;
	}
	footer#bottom ul{
		float:left;
	}
	footer#bottom a#attribution{
		float:left;
	}
	
	section.comments input{
		width: 95%;
	}
	
	section.comments textarea{
		width: 95%;
	}
}

@media screen and (max-width: 240px){
	header #nav_wrap{
		margin:0 auto;
		max-width: 90%;
		height: 200px;
	}
	header #nav_wrap nav{
		text-align: left;
		display:block;
	}
	header#top{
		max-width: 240px;
	}
	.page_wrap{
		max-width: 140px;
	}
	.feed_wrap{
		float: left;
		max-width: 100%;
	}
	.search_wrap_large{
		width: 95%;
	}
	ul.posts_wrap {
		max-width: 100%;
	}
	.search_wrap{
		width: 95%;
		max-width: 100%;
	}
	.footer_wrap{
		max-width: 140px;
	}
	footer#bottom ul{
		float:left;
	}
	footer#bottom a#attribution{
		float:left;
	}
	
	section.comments input{
		width: 95%;
	}
	
	section.comments textarea{
		width: 95%;
	}

}


