/*=================================================

TheTutTheme Stylesheet
Theme by Cosmin Negoita
URL: incidiolabs.com

=================================================*/

* { margin: 0; padding: 0; }
body { background: #434343; color: #505050; font-family: Arial, sans-serif; }
ul, ol { list-style: none; }

.wrapper { width: 600px; max-width: 100%; margin: 0 auto; }

/*=================================================
Typography
=================================================*/

a { color: #353535; text-decoration: underline; }
a:hover { text-decoration: none; }

footer a { color: #fff; }
footer a:hover { color: inherit; }

#add { color: #aaa; text-decoration: underline; float: right; }
#add:hover { color: #707070; }

time a { color: inherit; }

h1, h2, h3 { margin-top: 30px; color: #353535; }
.postTitle, header h1, #comments h3 { margin-top: 0; }
.compact h2 { font-size: 1.3em; }
.compact .postTitle a { display: block; }
.compact .postTitle a span { float: right; color: #bbb; font-size: 0.7em; font-family: Arial, sans-serif; font-weight: normal; }
h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.3em; }

#intro h2 { font-size: 1.3em; }
#comments ul li h3 { float: left; width: 200px; color: #ae3949; }

h1 a, h2 a, h3 a { text-decoration: none; }
h1 a:hover, h2 a:hover, h3 a:hover, h2 a:hover span { color: #ae3949; }

header h1 { font-size: 1.1em; font-family: 'Electrolize', sans-serif; font-weight: normal; }
header h1 a { color: #fff; }
header h1 a:hover { color: #efa0ab; }

.wobble {
position: relative;
display: inline-block;
}
.wobble:hover {
-webkit-animation: wobble .75s linear infinite;
-moz-animation: wobble .75s linear infinite;
-ms-animation: wobble .75s linear infinite;
-o-animation: wobble .75s linear infinite;
animation: wobble .75s linear infinite;
}

@-webkit-keyframes wobble {
0% { -webkit-transform: rotate(-2deg); }
20% { -webkit-transform: rotate(4deg); }
30% { -webkit-transform: rotate(1deg); }
40% { -webkit-transform: rotate(3deg); }
55% { -webkit-transform: rotate(0deg); }
70% { -webkit-transform: rotate(-4deg); }
80% { -webkit-transform: rotate(2deg); }
90% { -webkit-transform: rotate(-2deg); }
90% { -webkit-transform: rotate(3deg); }
}
@-moz-keyframes wobble {
0% { -moz-transform: rotate(-2deg); }
20% { -moz-transform: rotate(4deg); }
30% { -moz-transform: rotate(1deg); }
40% { -moz-transform: rotate(3deg); }
55% { -moz-transform: rotate(0deg); }
70% { -moz-transform: rotate(-4deg); }
80% { -moz-transform: rotate(2deg); }
90% { -moz-transform: rotate(-2deg); }
90% { -moz-transform: rotate(3deg); }
}
@-ms-keyframes wobble {
0% { -ms-transform: rotate(-2deg); }
20% { -ms-transform: rotate(4deg); }
30% { -ms-transform: rotate(1deg); }
40% { -ms-transform: rotate(3deg); }
55% { -ms-transform: rotate(0deg); }
70% { -ms-transform: rotate(-4deg); }
80% { -ms-transform: rotate(2deg); }
90% { -ms-transform: rotate(-2deg); }
90% { -ms-transform: rotate(3deg); }
}
@-o-keyframes wobble {
0% { -o-transform: rotate(-2deg); }
20% { -o-transform: rotate(4deg); }
30% { -o-transform: rotate(1deg); }
40% { -o-transform: rotate(3deg); }
55% { -o-transform: rotate(0deg); }
70% { -o-transform: rotate(-4deg); }
80% { -o-transform: rotate(2deg); }
90% { -o-transform: rotate(-2deg); }
90% { -o-transform: rotate(3deg); }
}
@keyframes wobble {
0% { transform: rotate(-2deg); }
20% { transform: rotate(4deg); }
30% { transform: rotate(1deg); }
40% { transform: rotate(3deg); }
55% { transform: rotate(0deg); }
70% { transform: rotate(-4deg); }
80% { transform: rotate(2deg); }
90% { transform: rotate(-2deg); }
90% { transform: rotate(3deg); }
}

p { font-size: 1em; line-height: 24px; margin-top: 30px; }
.meta { color: #bbb; font-size: 0.8em; margin-top: 5px; }
#intro p { margin-top: 5px; }
footer p { margin: 0; color: #ddd; font-size: 0.8em; }
time, #footnote { font-family: Georgia, serif; color: #aaa; font-style: italic; }

.comment h3 { font-size: 1em; }
.comment p { margin-top: 0; margin-bottom: 10px; }

article ul, article ol { margin-top: 30px; }
article ul li, article ol li { font-size: 1em; line-height: 24px; padding-left: 30px; margin-bottom: 20px; list-style: none; background: url(images/bullet.png) no-repeat 0 7px; }

article img { border: 1px solid #e1e1e1; background: #f5f5f5; padding: 4px; margin-top: 30px; }

/*=================================================
Layout
=================================================*/

header { text-shadow: 1px 1px 0px #872b37; padding: 20px; background: #ae3949; }

nav { float: right; margin-top: 1px; }
nav ul li { float: left; font-size: 0.8em; margin-left: 30px; }
nav ul li a { color: #efa0ab; text-decoration: none; }
nav ul li a:hover, nav ul li.active a { color: #fff; }

#content { background: #fff; overflow: hidden; }
.single { padding-top: 50px; }

#intro { text-align: center; margin-bottom: 50px; padding: 50px; background: #fcf9dd; border-bottom: 1px solid #ece9ce; }
article.compact { padding-bottom: 50px; }
.single article { border-bottom: 1px solid #e1e1e1; padding-bottom: 50px; margin-bottom: 50px; }

.search { background: #f2f2f2; padding: 5px; border-radius: 5px; margin-bottom: 50px; }
.search input { background: #fff; color: #aaa; padding: 10px; border: 1px solid #e0e0e0; width: 100%; box-sizing: border-box; border-radius: 5px; }
.search input:focus, #name:focus, #email:focus, #text:focus { border-color: #c1c1c1; }

#inputs { background: #f2f2f2; padding: 10px; border-radius: 5px 5px 0 0; }
#inputs input, #inputs textarea { border: 1px solid #e0e0e0; border-radius: 5px; }
#name, #email { padding: 10px; font-size: 0.8em; width: 263px; display: block; float: left; margin-bottom: 10px; }
#email { margin-left: 10px; }
#text { font-size: 0.9em; font-family: Arial, sans-serif; padding: 10px; width: 558px; height: 100px; max-width: 558px; min-width: 558px; }
#submit { background: #e2e2e2; padding: 10px; border-radius: 0 0 5px 5px; overflow: hidden; margin-bottom: 50px; }
.btn { border: 0; outline: 0; padding: 10px; background: #434343; color: #fff; border-radius: 5px; float: right; }
.btn:hover { background: #ae3949; cursor: pointer; }

#comments ul { margin-top: 50px; }
#comments ul li { overflow: hidden; margin-bottom: 50px; }
.comment div { float: left; width: 400px; }

.comment { border-top: 1px solid #e1e1e1; padding-top: 30px; }
footer { padding: 20px; text-shadow: 1px 1px 0px #333333; }
footer img { float: right; opacity: 0.5; }